In [1]:
import pandas as pd
df = pd.read_csv("ML_06.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [5]:
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [6]:
# selection of input and output
x = df[['weight','gender']]
y = df['likeness']

In [7]:
x

     weight  gender
0      76.0       1
1      70.0       1
2      80.0       1
3     102.0       1
4      67.0       1
..      ...     ...
240    60.0       1
241    70.0       1
242    80.0       1
243    65.0       1
244    56.0       0

[245 rows x 2 columns]

In [9]:
# Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
# create and fit our model 
model = DecisionTreeClassifier().fit(x,y)
# Prediction
model.predict([[24,0]])# 24 years female[0] loves ??

c:\Users\Zoraiz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [17]:
# How to check the accuracy of our model
# Split data into train and test (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
# Create a model
model=DecisionTreeClassifier()
# Fitting a model
model.fit(x_train,y_train)
predicted_values = model.predict(x_test)
predicted_values
# checking score
# y_test = actual_values
score = accuracy_score(y_test,predicted_values)
score

0.6530612244897959

In [18]:
# How to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib 
model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model,"foodie.joblib")

['foodie.joblib']

In [19]:
# Graph
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)
tree.export_graphviz(model,
                    out_file='foodie.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)